<div class="center hero-unit">
  <h1>Welcome to the Paint App</h1>

  <h2>Find and Post paint in your neighborhood</h2>

  <%= link_to "Sign up now to Post", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="row">
    <div class="span12">
        <%= link_to "Reds", Paint.find_all_by_color_family(:red), class: "btn btn-large span3" %>
        <%= link_to "Oranges", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Yellows", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Greens", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Blues", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Purples", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Blacks", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Greys", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Whites", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Creams", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Browns", signup_path, class: "btn btn-large span3" %>
        <%= link_to "Other", signup_path, class: "btn btn-large disabled  span3" %>
    </div>
</div>

