    <form class="well form-inline">
    <select class="span2">
        <option>Blacks</option>
        <option>Blues</option>
        <option>Browns</option>
        <option>Creams</option>
        <option>Greens</option>
        <option>Greys</option>
        <option>Oranges</option>
        <option>Purples</option>
        <option>Reds</option>
        <option>Whites</option>
        <option>Yellows</option>
    </select>
    <input class="span2">
    <%= select(:paint, :quantity, Paint::PAINT_QUANTITY) %>
    <button type="submit" class="btn">Filter</button>
    </form>

<% @paints.each do |paint| %>

<ol class="paints">
        <%= render partial: 'shared/inventory_item', collection: @inventory_items %>
</ol>

<li id="<% paint.id %>" class="paint-post clearfix" >
    <section class="swatch-container">
        <div class="swatch">
            <figure class="swatch-color"></figure>
            <figcaption class="swatch-hex">#<%= paint.hex %></figcaption>
        </div>
    </section>
    <section class="paint-details-container">
        <ul class="paint-post-info clearfix">
            <li><%= paint.name %></li>
            <li><%= paint.location %></li>
            <li><%= paint.quantity %> Gal</li>
            <li class="right"><a href="mailto:<%= paint.user.email %>?subject=Hi, I'm interested in the paint you posted on Post Your Paint">Contact Owner</a> </li>
        </ul>
        <p><%= wrap(paint.additional_info) %></p>
        <p>Posted <%= time_ago_in_words(paint.created_at) %> ago.
        <% if current_user?(paint.user) %>
            <%= link_to "delete", paint, method: :delete,
                                                  data: { confirm: "You sure?" },
                                                  title: paint.name %>
        <% end %>
        </p>
    </section>
</li>
<% end %>