<li id="<%= inventory_items.id %>">
    <p class="color_family"><%= inventory_items.color_family %></p>
    <p class="name"><%= inventory_items.name %></p>
    <p class="hex"><%= inventory_items.hex %></p>
    <p class="location"><%= inventory_items.location %></p>
    <p class="quantity"><%= inventory_items.quantity %></p>
    <p class="additional_info"><%= wrap(inventory_items.additional_info) %></p>

    <% if current_user?(inventory_item.user) %>
        <%= link_to "delete", invnetory_item, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: inventory_item.name %>
    <% end %>
</li>